* {
  margin: 0px;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  width: 200px;
  height: 80px;
}

.post__header{
  display: flex;
  align-items: center;
}